In [1]:
import os,re
import pandas as pd

In [2]:
df = pd.read_csv("/Users/itaybd/Documents/Global_Mobility_Report.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.columns

Index(['country_region_code', 'country_region', 'sub_region_1', 'sub_region_2',
       'metro_area', 'iso_3166_2_code', 'census_fips_code', 'date',
       'retail_and_recreation_percent_change_from_baseline',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'workplaces_percent_change_from_baseline',
       'residential_percent_change_from_baseline'],
      dtype='object')

In [4]:
df[df['country_region']=="Israel"].shape

(5117, 14)

In [5]:
set(df[df['country_region']=="Israel"]['sub_region_1'])

{'Center District',
 'Haifa District',
 'Jerusalem District',
 'North District',
 'South District',
 'Tel Aviv District',
 nan}

In [14]:
TA= df[(df['country_region']=="Israel") &  (df['sub_region_1']=='Tel Aviv District')]
TA.columns

Index(['country_region_code', 'country_region', 'sub_region_1', 'sub_region_2',
       'metro_area', 'iso_3166_2_code', 'census_fips_code', 'date',
       'retail_and_recreation_percent_change_from_baseline',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'workplaces_percent_change_from_baseline',
       'residential_percent_change_from_baseline'],
      dtype='object')

In [15]:
TA[["date",'workplaces_percent_change_from_baseline']].tail()

               date  workplaces_percent_change_from_baseline
1183033  2020-10-23                                    -33.0
1183034  2020-10-24                                    -18.0
1183035  2020-10-25                                    -40.0
1183036  2020-10-26                                    -39.0
1183037  2020-10-27                                    -39.0

In [8]:
df[df['country_region']=="United States"].shape

(641876, 14)

In [9]:
set(df[df['country_region']=="United States"]['sub_region_1'])

{'Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 nan}

In [18]:
cols=['transit_stations_percent_change_from_baseline','workplaces_percent_change_from_baseline']

In [21]:
%%timeit
r1= df[cols[0]] - df[cols[1]]

10.8 ms ± 321 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [20]:
def minus(a,b):
    return a-b

In [23]:
%%timeit
r2 = minus(df[cols[0]].values,df[cols[1]].values)

10.8 ms ± 256 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [27]:
%%timeit
r3 = df.apply(lambda r: minus(r[cols[0]],r[cols[1]]),axis=1)

3min ± 31.8 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [31]:
r1= df[cols[0]] - df[cols[1]]
r2 = pd.Series(minus(df[cols[0]].values,df[cols[1]].values))
r1.head(),r2.head(),type(r1),type(r2)

(0   -2.0
 1   -1.0
 2   -1.0
 3   -2.0
 4   -3.0
 dtype: float64,
 0   -2.0
 1   -1.0
 2   -1.0
 3   -2.0
 4   -3.0
 dtype: float64,
 pandas.core.series.Series,
 pandas.core.series.Series,
 (2855089,))

In [33]:
r1.shape

(2855089,)