In [2]:
import pandas as pd
import re,os,sys
from dateutil.parser import parse
import time

In [3]:
test_path ="../covid-policy-tracker/data/timeseries/index_stringency.csv"

In [4]:
ds = pd.read_csv(test_path)

In [5]:
ds.shape

(188, 308)

In [6]:
output_path = "/Users/itaybd/output_covid"
df1 = pd.read_csv(os.path.join(output_path,"test_covid19_wUS2_index.csv"))
df1.head()

                           index  val
0  ('Afghanistan', '2020-01-22')    0
1  ('Afghanistan', '2020-01-23')    1
2  ('Afghanistan', '2020-01-24')    2
3  ('Afghanistan', '2020-01-25')    3
4  ('Afghanistan', '2020-01-26')    4

In [7]:
df2 = pd.read_csv((os.path.join(output_path,"test_stringency_index.csv")))
df2.head()

                           index  val
0  ('Afghanistan', '2020-01-01')    0
1  ('Afghanistan', '2020-01-02')    1
2  ('Afghanistan', '2020-01-03')    2
3  ('Afghanistan', '2020-01-04')    3
4  ('Afghanistan', '2020-01-05')    4

In [8]:
df2.shape,df1.shape

((57528, 2), (91932, 2))

In [9]:
d1 = df1.set_index("index")["val"].to_dict()
d2 = df2.set_index("index")["val"].to_dict()
d2k = set(d2.keys())
d3 =[ k for k in d1.keys() if k in d2k]
len(d3)

43428

In [13]:
Ax=(set([eval(x)[0] for x in d3]))
len(Ax), list(Ax)[:10]

(154,
 ['Laos',
  'Algeria',
  'Finland',
  "Cote d'Ivoire",
  'Chile',
  'Eritrea',
  'Turkey',
  'Zambia',
  'Hungary',
  'Croatia'])

In [14]:
import wikipedia

In [20]:
t = wikipedia.page("OECD")

In [30]:
oecd_c = pd.read_html(t.html())[5]

In [31]:
L = list(oecd_c["Country"])

In [34]:
Ax_oecd = [x for x in Ax if x in L]
len(Ax_oecd)
not_found = [x for x in L if not x in Ax]
not_found

['Australia',
 'Canada',
 'Czech Republic',
 'South Korea',
 'Slovakia',
 'United States']

In [37]:
A3=[]
for t in not_found :
    for x in Ax:
        if x.find(t)>-1:
            A3.append(x)
A3

[]

In [39]:
Ax

{'Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Argentina',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'Chile',
 'Colombia',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [42]:
#d1 = df1.set_index("index")["val"].to_dict()
#d2 = df2.set_index("index")["val"].to_dict()
d1s = set([eval(k)[0] for k in d1.keys()])
d2s = set([eval(k)[0] for k in d2.keys()])

In [43]:
len(d1s),len(d2s)

(326, 188)

In [44]:

not_found = [x for x in L if not x in d1s]
not_found

['Australia', 'Canada', 'Czech Republic', 'South Korea', 'United States']

In [46]:
A3=[]
for t in not_found :
    for x in d1s:
        if x.find(t)>-1:
            A3.append(x)
A3

['Australia_Australian Capital Territory',
 'Australia_Queensland',
 'Australia_South Australia',
 'Australia_Tasmania',
 'Australia_Western Australia',
 'Australia_Victoria',
 'Australia_Northern Territory',
 'Australia_New South Wales',
 'Canada_Prince Edward Island',
 'Canada_New Brunswick',
 'Canada_Manitoba',
 'Canada_Saskatchewan',
 'Canada_Yukon',
 'Canada_Quebec',
 'Canada_Northwest Territories',
 'Canada_Nova Scotia',
 'Canada_Diamond Princess',
 'Canada_Ontario',
 'Canada_Grand Princess',
 'Canada_Newfoundland and Labrador',
 'Canada_British Columbia',
 'Canada_Alberta']

In [47]:
os.listdir("../covid-policy-tracker/data")

['.DS_Store',
 'OxCGRT_latest.csv',
 'OxCGRT_latest_allchanges.csv',
 'OxCGRT_latest_responses.csv',
 'OxCGRT_latest_withnotes.csv',
 'timeseries']

In [48]:
OxWorld = pd.read_csv("../covid-policy-tracker/data/OxCGRT_latest.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
list(OxWorld.columns)

['CountryName',
 'CountryCode',
 'RegionName',
 'RegionCode',
 'Date',
 'C1_School closing',
 'C1_Flag',
 'C2_Workplace closing',
 'C2_Flag',
 'C3_Cancel public events',
 'C3_Flag',
 'C4_Restrictions on gatherings',
 'C4_Flag',
 'C5_Close public transport',
 'C5_Flag',
 'C6_Stay at home requirements',
 'C6_Flag',
 'C7_Restrictions on internal movement',
 'C7_Flag',
 'C8_International travel controls',
 'E1_Income support',
 'E1_Flag',
 'E2_Debt/contract relief',
 'E3_Fiscal measures',
 'E4_International support',
 'H1_Public information campaigns',
 'H1_Flag',
 'H2_Testing policy',
 'H3_Contact tracing',
 'H4_Emergency investment in healthcare',
 'H5_Investment in vaccines',
 'H6_Facial Coverings',
 'H6_Flag',
 'M1_Wildcard',
 'ConfirmedCases',
 'ConfirmedDeaths',
 'StringencyIndex',
 'StringencyIndexForDisplay',
 'StringencyLegacyIndex',
 'StringencyLegacyIndexForDisplay',
 'GovernmentResponseIndex',
 'GovernmentResponseIndexForDisplay',
 'ContainmentHealthIndex',
 'ContainmentHealthIndexForDisplay',
 'EconomicSupportIndex',
 'EconomicSupportIndexForDisplay']

In [53]:
#set (OxWorld['RegionName'].astype(str) )
OxWorld[OxWorld['RegionName']=="Alabama"].shape

(307, 46)

In [56]:
def add_st(s):
    if len(s)==1:
        return "0"+s
    return s
def convert_dates(dt):
    spl = parse(dt,dayfirst=False)
    return str(spl.year)+"-"+add_st(str(spl.month))+"-"+add_st(str(spl.day))
OxWorld["Date"] = OxWorld.apply(lambda r: convert_dates(str(r["Date"])),axis=1 )

In [57]:
OxWorld["Date"].head()

0    2020-01-01
1    2020-01-02
2    2020-01-03
3    2020-01-04
4    2020-01-05
Name: Date, dtype: object

In [61]:
set(OxWorld["C2_Workplace closing"].astype(str))

{'0.0', '1.0', '2.0', '3.0', 'nan'}

In [66]:
list(OxWorld["C2_Workplace closing"].astype(str)).count('nan')

2889

In [91]:
OxWorld2 = OxWorld[OxWorld["Date"]>"2020-03-01"]
S1 = set(OxWorld2[OxWorld2.apply(lambda r: str(r["C2_Flag"]) !='nan',axis=1)]["CountryName"])
S2 = set(OxWorld2["CountryName"])
Germany = OxWorld2[OxWorld2["CountryName"]=="Germany"]
len(S1),len(S2),(S2-S1)

(177,
 187,
 {'Belarus',
  'Burundi',
  'Comoros',
  'Macao',
  'Nicaragua',
  'Niger',
  'Pitcairn Islands',
  'Taiwan',
  'Tanzania',
  'United States Virgin Islands'})

In [100]:
#Germany[Germany["C1_Flag"] =='nan'].shape
Alabama = OxWorld2[OxWorld2["RegionName"]=="Alabama"]
NewYork = OxWorld2[OxWorld2["RegionName"]=="New York"]
Germany.head()

,CountryName,CountryCode,RegionName,RegionCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
13876,Germany,DEU,NaN,NaN,2020-03-02,2.0,0.0,0.0,NaN,1.0,...,25.0,25.0,34.52,34.52,25.6,25.6,29.86,29.86,0.0,0.0
13877,Germany,DEU,NaN,NaN,2020-03-03,2.0,0.0,0.0,NaN,1.0,...,25.0,25.0,34.52,34.52,25.6,25.6,29.86,29.86,0.0,0.0
13878,Germany,DEU,NaN,NaN,2020-03-04,2.0,0.0,0.0,NaN,1.0,...,25.0,25.0,34.52,34.52,25.6,25.6,29.86,29.86,0.0,0.0
13879,Germany,DEU,NaN,NaN,2020-03-05,2.0,0.0,0.0,NaN,1.0,...,25.0,25.0,34.52,34.52,25.6,25.6,29.86,29.86,0.0,0.0
13880,Germany,DEU,NaN,NaN,2020-03-06,2.0,0.0,0.0,NaN,1.0,...,25.0,25.0,34.52,34.52,25.6,25.6,29.86,29.86,0.0,0.0

In [98]:
Alabama.head()

,CountryName,CountryCode,RegionName,RegionCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
55935,United States,USA,Alabama,US_AL,2020-03-02,0.0,NaN,0.0,NaN,0.0,...,8.33,8.33,10.71,10.71,11.31,11.31,13.19,13.19,0.0,0.0
55936,United States,USA,Alabama,US_AL,2020-03-03,0.0,NaN,0.0,NaN,0.0,...,8.33,8.33,10.71,10.71,11.31,11.31,13.19,13.19,0.0,0.0
55937,United States,USA,Alabama,US_AL,2020-03-04,0.0,NaN,0.0,NaN,0.0,...,8.33,8.33,10.71,10.71,11.31,11.31,13.19,13.19,0.0,0.0
55938,United States,USA,Alabama,US_AL,2020-03-05,0.0,NaN,0.0,NaN,0.0,...,8.33,8.33,10.71,10.71,11.31,11.31,13.19,13.19,0.0,0.0
55939,United States,USA,Alabama,US_AL,2020-03-06,0.0,NaN,0.0,NaN,0.0,...,8.33,8.33,10.71,10.71,13.69,13.69,15.97,15.97,0.0,0.0

In [101]:
NewYork[50:].head()

,CountryName,CountryCode,RegionName,RegionCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
66116,United States,USA,New York,US_NY,2020-04-21,3.0,1.0,3.0,1.0,2.0,...,82.41,82.41,88.1,88.1,78.57,78.57,75.00,75.00,100.0,100.0
66117,United States,USA,New York,US_NY,2020-04-22,3.0,1.0,3.0,1.0,2.0,...,82.41,82.41,88.1,88.1,82.14,82.14,79.17,79.17,100.0,100.0
66118,United States,USA,New York,US_NY,2020-04-23,3.0,1.0,3.0,1.0,2.0,...,82.41,82.41,88.1,88.1,82.14,82.14,79.17,79.17,100.0,100.0
66119,United States,USA,New York,US_NY,2020-04-24,3.0,1.0,3.0,1.0,2.0,...,82.41,82.41,88.1,88.1,82.14,82.14,79.17,79.17,100.0,100.0
66120,United States,USA,New York,US_NY,2020-04-25,3.0,1.0,3.0,1.0,2.0,...,82.41,82.41,88.1,88.1,84.52,84.52,81.94,81.94,100.0,100.0

In [112]:
def c_func(cols):
    #str(r[country_col])+("_"+str(r[province_col])).replace("_nan","")
    def lm(r):
        s = str(r[cols[0]]).replace("United States","US")
        for c in cols[1:]:
            s+= ("_"+str(r[c])).replace("_nan","")
        return s
    return lm
key_cols2 = ['CountryName','RegionName']
key_cols_func = c_func
OxWorld2["key"] = OxWorld2.apply(lambda r: key_cols_func(key_cols2)(r),axis=1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [113]:
list(set(OxWorld2["key"]))[:20]

['Laos',
 'US_Indiana',
 'US',
 'US_Ohio',
 'Algeria',
 'Guam',
 'Turks and Caicos Islands',
 'Finland',
 "Cote d'Ivoire",
 'Chile',
 'US_Kansas',
 'Eritrea',
 'US_New Mexico',
 'US_Nevada',
 'US_Pennsylvania',
 'Turkey',
 'Zambia',
 'Hungary',
 'Croatia',
 'Cyprus']

In [114]:
A = set([eval(k)[0] for k in d1.keys()])

In [115]:
B= set(OxWorld2["key"])
len(A),len(B)

(326, 243)

In [119]:
intersect= A.intersection(B)
len(intersect)

207

In [117]:
list([x for x in B  if not x in A])

['Guam',
 'Turks and Caicos Islands',
 'United Kingdom_Wales',
 'Palestine',
 'Democratic Republic of Congo',
 'United Kingdom_England',
 'Falkland Islands',
 'Slovak Republic',
 'British Virgin Islands',
 'Taiwan',
 'United Kingdom_Northern Ireland',
 'Myanmar',
 'Canada',
 'Macao',
 'China',
 'Pitcairn Islands',
 'Vanuatu',
 'US Virgin Islands',
 'Puerto Rico',
 'Aruba',
 'Anguilla',
 'US_Washington DC',
 'Bermuda',
 'Czech Republic',
 'Congo',
 'Cayman Islands',
 'Hong Kong',
 'Kyrgyz Republic',
 'Gibraltar',
 'Australia',
 'Greenland',
 'Turkmenistan',
 'South Korea',
 'United Kingdom_Scotland',
 'Cape Verde',
 'Montserrat']

In [118]:
list([x for x in A  if not x in B])

['MS Zaandam',
 'Congo (Brazzaville)',
 'China_Macau',
 'Grenada',
 'China_Hunan',
 'Canada_Prince Edward Island',
 'China_Xinjiang',
 'Maldives',
 'Holy See',
 'Monaco',
 'China_Jiangsu',
 'China_Shanghai',
 'Canada_New Brunswick',
 'Australia_Australian Capital Territory',
 'Taiwan*',
 'China_Fujian',
 'United Kingdom_Bermuda',
 'Canada_Manitoba',
 'China_Guangdong',
 'Congo (Kinshasa)',
 'United Kingdom_Falkland Islands (Malvinas)',
 'France_French Guiana',
 'France_Guadeloupe',
 'US_Northern Mariana Islands',
 'US_Diamond Princess',
 'France_Saint Pierre and Miquelon',
 'China_Hubei',
 'Netherlands_Bonaire, Sint Eustatius and Saba',
 'Antigua and Barbuda',
 'Canada_Saskatchewan',
 'Armenia',
 'Netherlands_Sint Maarten',
 'US_American Samoa',
 'France_Reunion',
 'West Bank and Gaza',
 'United Kingdom_Turks and Caicos Islands',
 'United Kingdom_Channel Islands',
 'China_Tibet',
 'Denmark_Greenland',
 'Czechia',
 'Australia_Queensland',
 'China_Hong Kong',
 'China_Qinghai',
 'China_Jilin',
 'China_Guizhou',
 'Canada_Yukon',
 'China_Shaanxi',
 'North Macedonia',
 'China_Guangxi',
 'Canada_Quebec',
 'Canada_Northwest Territories',
 'Canada_Nova Scotia',
 'Malta',
 'Canada_Diamond Princess',
 'China_Henan',
 'Guinea-Bissau',
 'United Kingdom_Gibraltar',
 'China_Shanxi',
 'US_Puerto Rico',
 'Bahamas',
 'Kyrgyzstan',
 'Australia_South Australia',
 'China_Anhui',
 'China_Shandong',
 'Denmark_Faroe Islands',
 'China_Heilongjiang',
 'China_Sichuan',
 'Saint Vincent and the Grenadines',
 'Saint Kitts and Nevis',
 'United Kingdom_Cayman Islands',
 'Korea, South',
 'China_Hebei',
 'China_Chongqing',
 'Canada_Ontario',
 'Slovakia',
 'France_Martinique',
 'Marshall Islands',
 'Cabo Verde',
 'Netherlands_Aruba',
 'Australia_Tasmania',
 'Equatorial Guinea',
 'Saint Lucia',
 'United Kingdom_Anguilla',
 'Canada_Grand Princess',
 'France_Mayotte',
 'United Kingdom_British Virgin Islands',
 'China_Yunnan',
 'Australia_Western Australia',
 'Diamond Princess',
 'United Kingdom_Isle of Man',
 'Australia_Victoria',
 'Canada_Newfoundland and Labrador',
 'US_Grand Princess',
 'China_Zhejiang',
 'US_Guam',
 'Canada_British Columbia',
 'US_District of Columbia',
 'Montenegro',
 'France_French Polynesia',
 'Australia_Northern Territory',
 'Liechtenstein',
 'China_Gansu',
 'China_Ningxia',
 'China_Tianjin',
 'Burma',
 'United Kingdom_Montserrat',
 'China_Hainan',
 'China_Jiangxi',
 'Canada_Alberta',
 'France_Saint Barthelemy',
 'Netherlands_Curacao',
 'Western Sahara',
 'China_Liaoning',
 'Australia_New South Wales',
 'France_New Caledonia',
 'China_Beijing',
 'France_St Martin',
 'China_Inner Mongolia',
 'Sao Tome and Principe']

In [120]:
list(intersect)[:10]

['Laos',
 'US_Indiana',
 'US',
 'US_Ohio',
 'Algeria',
 'Finland',
 "Cote d'Ivoire",
 'Chile',
 'US_Kansas',
 'Eritrea']

In [125]:
[x for x in Ax_oecd if not x in intersect],len(Ax_oecd),len([x for x in intersect if x.find("US_")>-1])

([], 31, 51)

In [126]:
OxWG = {k:v for k,v in OxWorld2.groupby("key")}

In [127]:
OxWG["Germany"].head()

,CountryName,CountryCode,RegionName,RegionCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,...,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay,key
13876,Germany,DEU,NaN,NaN,2020-03-02,2.0,0.0,0.0,NaN,1.0,...,25.0,34.52,34.52,25.6,25.6,29.86,29.86,0.0,0.0,Germany
13877,Germany,DEU,NaN,NaN,2020-03-03,2.0,0.0,0.0,NaN,1.0,...,25.0,34.52,34.52,25.6,25.6,29.86,29.86,0.0,0.0,Germany
13878,Germany,DEU,NaN,NaN,2020-03-04,2.0,0.0,0.0,NaN,1.0,...,25.0,34.52,34.52,25.6,25.6,29.86,29.86,0.0,0.0,Germany
13879,Germany,DEU,NaN,NaN,2020-03-05,2.0,0.0,0.0,NaN,1.0,...,25.0,34.52,34.52,25.6,25.6,29.86,29.86,0.0,0.0,Germany
13880,Germany,DEU,NaN,NaN,2020-03-06,2.0,0.0,0.0,NaN,1.0,...,25.0,34.52,34.52,25.6,25.6,29.86,29.86,0.0,0.0,Germany